server:
  port: 8180
spring:
  profiles:
    active: dev
  application:
    name: core
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST:localhost:3306}/cloud_oj?serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:root}
    hikari:
      minimum-idle: ${DB_POOL_SIZE:6}
      maximum-pool-size: ${DB_POOL_SIZE:6}
  jackson:
    default-property-inclusion: non_null
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        query-passing: true
        prefer-ip-address: ${USE_IP:false}
        ip-address: ${SERVICE_IP:${spring.cloud.client.ip-address}}
        instance-id: ${spring.application.name}-${server.port}-${random.int}
        health-check-critical-timeout: 5m
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 128MB
management:
  endpoint:
    health:
      show-details: ALWAYS
      probes:
        enabled: true