html {
    background: #fafafa;
}

.label {
    padding: 4px 8px;
}

.tag {
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}

.language-tag {
    border-radius: 20px;
    padding: 4px 8px;
    color: white;
}

.category {
    cursor: pointer;
    border-radius: 20px;
    padding: 3px 10px;
    color: white;
    transition: all 100ms;
}

.category:hover {
    font-size: 12pt;
    transition: all 100ms;
}

.tag-color-1 {
    background: #5FB878;
}

.tag-color-2 {
    background: #FFB800;
}

.tag-color-3 {
    background: #01AAED;
}

.tag-color-4 {
    background: #f17c67;
}

.tag-color-5 {
    background: #6B4C7A;
}

.tag-color-6 {
    background: #3AB2A6;
}

.tag-color-7 {
    background: #FF7530;
}

.shell-color {
    background: #3f3f3f;
}

.py-color {
    background: #3AB2A6;
}

.java-color {
    background: #f5801d;
}

.cpp-color {
    background: #6B4C7A;
}

.csharp-color {
    background: #1E9FFF;
}

.bg-green {
    color: white;
    background: #5FB878;
}

.bg-red {
    color: white;
    background: #FF5722;
}

.bg-yellow {
    color: white;
    background: #FFB800;
}

.bg-blue {
    color: white;
    background: #1E9FFF;
}

.bg-grey {
    color: white;
    background: #a2a2a2;
}

.root-color {
    color: white;
    background: #6B4C7A;
}

.user-manager-color {
    color: white;
    background: #5FB878;
}

.problem-manager-color {
    color: white;
    background: #1E9FFF;
}

.user-color {
    color: white;
    background: #a2a2a2;
}

.layui-table-tool {
    border: none !important;
}

.layui-container {
    margin-top: 20px;
}

.layui-table-page {
    background: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
}