body {
    min-width: 900px;
    height: 100%;
}

.menu-text {
    font-size: 13pt;
    font-family: inherit;
}

.header {
    height: 59px;
    border-bottom: 1px solid #0A0E11;
    background-color: #191919;
}

.layui-nav {
    background-color: inherit;
}

.logo {
    position: absolute;
    left: 20px;
    top: 16px;
}

#oj-name {
    top: 16px;
    color: #5FB878;
    font-size: 18pt;
    font-weight: bold;
    transition: all 1s;
}

#oj-name:hover {
    text-shadow: 0 0 2px #5FB878;
    transition: all 200ms;
}

#foot {
    color: #666666;
    text-align: center;
    margin: 50px 0 30px 0;
}

.framework-link {
    margin-left: 2px;
    font-size: 11pt;
}

.framework-link:hover {
    text-decoration: underline;
}

.framework-logo {
    display: inline-block;
    height: 18px;
}