html {
    position: relative;
    background: #191919;
    height: calc(100% + 100px);
}

.container {
    border-top: 1px solid #404553;
    height: calc(100% - 161px);
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    background-image: url("../img/index-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/index-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.wave-box {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 80px;
}

.wave {
    position: absolute;
    bottom: 0;
    background: url(../img/wave.svg) repeat-x;
    width: 6400px;
    height: 80px;
    animation: wave 45s cubic-bezier(.36, .45, .63, .53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    background: url(../img/wave.svg) repeat-x;
    animation: wave 20s cubic-bezier(.36, .45, .63, .53) -.125s infinite, swell 7s ease -1.25s infinite;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

.poster-div {
    margin-top: 20%;
    text-align: center;
    width: 100%;
    color: white;
    transition: margin-top 500ms;
}

#poster {
    margin: 0 auto;
    padding-left: 55px;
    font-size: 32pt;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: fit-content;
    position: relative;
}

#poster:after {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    animation: dot 5s infinite;
    margin: 0 auto;
}

@keyframes dot {
    0% {
        transform: rotate(0deg);
        background: #00a8c6;
    }
    25%{
        transform: rotate(360deg);
        background: #f17c67;
    }
    50% {
        transform: rotate(720deg);
        background: #1E9FFF;
    }
    75%{
        transform: rotate(1080deg);
        background: #FFB800;
    }
    100%{
        transform: rotate(1440deg);
        background: #00a8c6;
    }
}

#login-pane {
    margin: 30px auto;
    width: 450px;
    background: white;
    display: none;
}

.foot {
    background: #191919;
    height: 70px;
    width: 100%;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.link {
    color: #cccccc;
}

.link:hover {
    color: white;
    text-decoration: underline;
}