services:
  consul:
    image: consul:1.15
    command:
      - "agent"
      - "-dev"
      - "-client=0.0.0.0"
      - "-log-level=err"
    ports:
      - "8500:8500"
  mariadb:
    image: mariadb:11
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: "root"
      MARIADB_ROOT_HOST: "%"
    volumes:
      - "mariadb:/var/lib/mysql"
      - "./sql:/docker-entrypoint-initdb.d"
  rabbitmq:
    image: rabbitmq:4-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "admin"
      RABBITMQ_DEFAULT_PASS: "admin"
    volumes:
      - "rabbitmq:/var/lib/rabbitmq/mnesia"
volumes:
  mariadb:
  rabbitmq:
