html, body {
    height: calc(100% - 60px);
    padding: 0;
    margin: 0;
    /* background by SVGBackgrounds.com */
    background-color: #F0F0F0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23fafafa' stroke-width='0.79' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cuse fill='%23f5f5f5' href='%23s' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s'/%3E%3Cuse fill='%23ebebeb' href='%23s' x='2'/%3E%3Cuse fill='%23ebebeb' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23e6e6e6'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23e6e6e6'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23e1e1e1'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23fafafa'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23dcdcdc'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-header {
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 !important;
    z-index: 100;
}

.logo-div {
    display: flex;
    align-items: center;
}

.app-name {
    margin-left: 12px;
    font-weight: bold !important;
    font-size: 16pt !important;
    text-decoration: none;
    color: #606266;
}

.el-container {
    min-width: 1100px !important;
    max-width: 1400px;
    margin: 76px auto 0;
}

.el-card, .el-tabs--border-card {
    box-shadow: none !important;
}

.tag {
    cursor: pointer;
    border-radius: 12px;
    padding: 0 10px;
    margin: 2px 2px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
}

.result-tag {
    cursor: pointer;
}

.contest-tag {
    font-weight: bold;
    border-radius: 20px;
    padding: 2px 12px;
    color: white;
    display: inline-block;
}

.tag:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.tag-color-1 {
    background: #01AAED;
}

.tag-color-2 {
    background: #FFB800;
}

.tag-color-3 {
    background: #f17c67;
}

.tag-color-4 {
    background: #5FB878;
}

.tag-color-5 {
    background: #6B4C7A;
}

.tag-color-6 {
    background: #3AB2A6;
}

.tag-color-7 {
    background: #73c13b;
}

.CodeMirror {
    height: 100% !important;
    word-spacing: 0.2em;
    font-size: 12pt;
    font-family: sans-serif !important;
}

.cm-s-eclipse {
    border: 1px solid #DDDDDD;
}

.vue-codemirror {
    height: 100% !important;
}

.bottom {
    margin-top: 35px;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #D4D5DA;
}

::-webkit-scrollbar-thumb:hover {
    background: #C4C5CA;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

.katex-html > .bottom {
    height: 0 !important;
}

.result-error {
    padding: 0 15px;
    font: inherit;
    white-space: pre-wrap;
    word-break: break-word;
    color: #F56C6C;
}