<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="./css/error.css"/>
</head>
<body>
<div class="container">
	<h1 style="font-size: 26pt;"><span style="color: crimson;">ERROR</span> 404</h1>
	<hr color="orange">
	<br>
	<code class="code-block">> THE PAGE YOU ARE LOOKING FOR <span style="color: orange;">CLOUD NOT BE FOUND</span>.</code>
	<code class="code-block">> YOU CAN GO BACK OR RETURN TO THE
		[<a href="./index" style="color: yellowgreen;">INDEX</a>]
		PAGE.<span class="blink">&nbsp;</span></code>
</div>
</body>
</html>
