<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>500 Internal Error</title>
    <link rel="stylesheet" href="./css/error.css"/>
</head>
<body>
<div class="container">
    <h1 style="font-size: 26pt;"><span style="color: crimson;">ERROR</span> 500</h1>
    <hr style="border-color: orange;">
    <br>
    <code class="code-block">> THERE IS A <span style="color: orange;">PROBLEM</span> OCCURRED ON SERVER.</code>
    <code class="code-block">> [<span style="color: yellowgreen;">THIS PROBLEM MAY BE FIXED LATTER.</span>]</code>
    <code class="code-block">> YOU CAN NOW GO BACK OR RETURN TO THE
        [<a href="./index" style="color: yellowgreen;">INDEX</a>] PAGE.<span class="blink">&nbsp;</span></code>
</div>
</body>
</html>
