<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<!-- nav -->
<div th:replace="include::top"></div>
<div class="layui-container" style="min-width: 1150px">
    <table id="users" lay-filter="users">

    </table>
</div>
<div th:replace="include::foot"></div>
<script id="roleTpl" type="text/html">
    <span class="label {{roleColor[d.roleId]}}">{{roles[d.roleId]}}</span>
</script>

<script type="text/html" id="optToolbar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">修改信息</a>
</script>

<div id="user-form" class="layui-form layui-form-pane" lay-filter="user-info"
     style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <input type="hidden" class="layui-input" name="userId">
    <!-- name -->
    <div class="layui-form-item">
        <label for="name" class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input id="name" name="name" class="layui-input" lay-verify="required">
        </div>
    </div>
    <!-- role -->
    <div class="layui-form-item">
        <label for="role" class="layui-form-label">角色/权限</label>
        <div class="layui-input-block">
            <select id="role" name="roleId" lay-filter="role">
                <option value="0">普通用户</option>
                <option value="1">用户管理员</option>
                <option value="2">题目管理员</option>
                <option value="3">ROOT</option>
            </select>
        </div>
    </div>
    <!-- email -->
    <div class="layui-form-item">
        <label for="email" class="layui-form-label">邮 箱</label>
        <div class="layui-input-block">
            <input id="email" type="email" name="email" class="layui-input" lay-verify="required">
        </div>
    </div>
    <!-- password -->
    <div class="layui-form-item">
        <label for="password" class="layui-form-label">密 码</label>
        <div class="layui-input-block">
            <input id="password" type="password" name="password" autocomplete="new-password" class="layui-input"
                   placeholder="设置新密码">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="section" class="layui-form-label">学校/班级</label>
        <div class="layui-input-block">
            <input id="section" name="section" class="layui-input" lay-verify="required">
        </div>
    </div>
    <!-- button -->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit lay-filter="save" id="save" class="layui-btn layui-btn-normal" style="width: 100%;">
                保 存
            </button>
        </div>
    </div>
</div>
<script src="./js/manager_user.js"></script>
</body>
</html>