<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>竞赛/作业管理</title>
</head>
<body>
<!-- nav -->
<div th:replace="include::top"></div>
<div class="layui-container" style="min-width: 1150px">
    <table id="contests" lay-filter="contests">

    </table>
</div>
<!-- create contest -->
<div id="contest-form" class="layui-form layui-form-pane" lay-filter="add-contest"
     style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <!-- contest name -->
    <div class="layui-form-item">
        <label for="contestName" class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input id="contestName" name="contestName" class="layui-input" lay-verify="required" placeholder="竞赛/作业名称">
        </div>
    </div>
    <!-- start at -->
    <div class="layui-form-item">
        <label for="startAt" class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <input id="startAt" type="text" name="startAt" class="layui-input" lay-verify="required"
                   placeholder="选择开始时间">
        </div>
    </div>
    <!-- end at -->
    <div class="layui-form-item">
        <label for="endAt" class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
            <input id="endAt" type="text" name="endAt" class="layui-input" lay-verify="required" placeholder="选择结束时间">
        </div>
    </div>
    <!-- button -->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit lay-filter="create" id="create" class="layui-btn layui-btn-normal" style="width: 100%;">
                创 建
            </button>
        </div>
    </div>
</div>
<div th:replace="include::foot"></div>
<!-- contest problems -->
<div id="contest-problem-table"
     style="display: none;  position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <table id="contest-problems" lay-filter="contest-problems">

    </table>
</div>
<!-- problems -->
<div id="problems-table" style="display: none;  position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <table id="problems" lay-filter="problems">

    </table>
</div>
<script type="text/html" id="top-bar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="create-contest">创建竞赛/作业</button>
    </div>
</script>
<script type="text/html" id="contest-problem-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add-problem">添加题目</button>
    </div>
</script>
<script type="text/html" id="contestProblemToolbar">
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove">移除</a>
</script>
<script type="text/html" id="optToolbar">
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">管理题目</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script type="text/html" id="addProblemToolbar">
    <a class="layui-btn bg-green layui-btn-sm" lay-event="add">添加</a>
</script>
<script>
    let table, form, laydate;
    $(document).ready(() => {
        $('#nav-manager').addClass("layui-this");

        layui.use(['element', 'table', 'form', 'laydate'], () => {
            let element = layui.element;
            table = layui.table;
            form = layui.form;
            laydate = layui.laydate;

            element.init();
        });

        // 竞赛/作业列表
        table.render({
            elem: '#contests',
            url: '../api/manager/contest/pro',
            where: {
                userId: user.userId
            },
            headers: {token: user.token},
            parseData: (res) => {
                return {
                    "code": 0,
                    "count": res === undefined ? 0 : res.count,
                    "data": res === undefined ? null : res.data,
                }
            },
            skin: 'nob',
            size: 'lg',
            page: true,
            limit: 15,
            limits: [10, 15, 20, 25, 30],
            defaultToolbar: ['print', 'exports'],
            toolbar: '#top-bar',
            cols: [
                [
                    {field: 'contestId', title: '竞赛/作业编号', width: '15%', align: 'center'},
                    {field: 'contestName', title: '竞赛/作业名称', width: '30%', align: 'center', edit: 'text'},
                    {field: 'startAt', title: '开始时间', width: '20%', edit: 'text'},
                    {field: 'endAt', title: '结束时间', width: '20%', edit: 'text'},
                    {title: '操作', width: '15%', align: 'center', toolbar: '#optToolbar'}
                ]
            ]
        });

        table.on('edit(contests)', (obj) => {
            let contest = obj.data;
            console.log(contest);

            if (Date.parse(contest.startAt) >= Date.parse(contest.endAt)) {
                layer.msg('开始时间不能大于结束时间!', {icon: 5});
                refresh('contests');
                return;
            }

            let loadIndex;

            $.ajax({
                url: baseUrl + '/api/manager/contest/pro?userId=' + user.userId,
                method: 'put',
                headers: {
                    "Content-Type": "application/json",
                    "token": user.token
                },
                data: JSON.stringify(contest),
                beforeSend: () => {
                    loadIndex = layer.load(1);
                },
                success: () => {
                    layer.close(loadIndex);
                    layer.msg('已保存！', {icon: 6});
                    refresh('contests');
                },
                error: (xhr) => {
                    layer.close(loadIndex);
                    layer.msg(xhr.status + ': ' + xhr.responseText, {icon: 5});
                    refresh('contests');
                }
            });
        });

        let createContestIndex;

        table.on('toolbar(contests)', (obj) => {
            if (obj.event === 'create-contest') {
                laydate.render({
                    elem: '#startAt',
                    type: 'datetime'
                });

                laydate.render({
                    elem: '#endAt',
                    type: 'datetime'
                });

                createContestIndex = layer.open({
                    type: 1,
                    title: '创建竞赛/作业',
                    content: $('#contest-form'),
                    area: ['500px', '300px'],
                    closeButton: true,
                    cancel: () => {
                        $('#contest-form').hide();
                    }
                });
            }
        });

        table.on('tool(contests)', (obj) => {
            if (obj.event === 'edit') {
                showContestProblems(obj.data.contestId, obj.data.contestName);
            }
            if (obj.event === 'del') {
                delContest(obj.data);
            }
        });

        form.on('submit(create)', (data) => {
            let contest = data.field;
            if (Date.parse(contest.startAt) >= Date.parse(contest.endAt)) {
                layer.msg('开始时间不能大于结束时间!', {icon: 5});
            } else {
                let loadIndex;
                $.ajax({
                    url: baseUrl + '/api/manager/contest/pro?userId=' + user.userId,
                    method: 'post',
                    headers: {
                        "Content-Type": "application/json",
                        "token": user.token
                    },
                    data: JSON.stringify(contest),
                    beforeSend: () => {
                        loadIndex = layer.load(1);
                    },
                    success: () => {
                        layer.close(loadIndex);
                        layer.msg('已创建！', {icon: 6});
                        $('#contest-form').hide();
                        layer.close(createContestIndex);
                        refresh('contests');
                    },
                    error: (xhr) => {
                        layer.close(loadIndex);
                        layer.msg(xhr.status + ': ' + xhr.responseText, {icon: 5});
                    }
                });
            }
        });
    });

    // 显示竞赛/作业的题目
    function showContestProblems(contestId, contestName) {
        layer.open({
            type: 1,
            title: contestName,
            resize: false,
            content: $('#contest-problem-table'),
            area: ['650px', '600px'],
            closeBtn: 2,
            cancel: () => {
                $('#contest-problem-table').hide();
            }
        });

        table.render({
            elem: '#contest-problems',
            url: baseUrl + '/api/manager/contest/' + contestId,
            parseData: (res) => {
                return {
                    "code": 0,
                    "count": res === undefined ? 0 : res.count,
                    "data": res === undefined ? null : res.data
                }
            },
            skin: 'nob',
            size: 'lg',
            height: '500px',
            page: true,
            limit: 15,
            limits: [10, 15, 20, 25, 30],
            toolbar: '#contest-problem-toolbar',
            defaultToolbar: [],
            cols: [
                [
                    {field: 'problemId', title: '编号', width: '15%', align: 'center'},
                    {field: 'title', title: '题目名称', width: '65%'},
                    {title: '操作', width: '20%', align: 'center', toolbar: '#contestProblemToolbar'}
                ]
            ]
        });

        table.on('tool(contest-problems)', (obj) => {
            if (obj.event === 'remove') {
                removeProblems(contestId, obj.data.problemId);
            }
        });

        table.on('toolbar(contest-problems)', (obj) => {
            if (obj.event === 'add-problem') {
                showProblems(contestId);
            }
        });
    }

    function showProblems(contestId) {
        layer.open({
            type: 1,
            title: '题目列表',
            resize: false,
            content: $('#problems-table'),
            area: ['700px', '600px'],
            closeBtn: 2,
            cancel: () => {
                $('#problems-table').hide();
            }
        });

        table.render({
            elem: '#problems',
            url: '../api/manager/contest/pro/' + contestId,
            headers: {token: user.token},
            where: {
                userId: user.userId
            },
            parseData: (res) => {
                return {
                    "code": 0,
                    "count": res === undefined ? 0 : res.count,
                    "data": res === undefined ? null : res.data
                }
            },
            skin: 'nob',
            size: 'lg',
            height: '500px',
            page: true,
            limit: 10,
            limits: [10, 15, 20, 25],
            cols: [
                [
                    {field: 'problemId', title: '编号', width: '15%'},
                    {field: 'title', title: '题目名称', width: '35%'},
                    {title: '操作', width: '25%', align: 'center', toolbar: '#addProblemToolbar'},
                    {field: 'createAt', title: '创建时间', width: '25%', align: 'center'}
                ]
            ]
        });

        table.on('tool(problems)', (obj) => {
            if (obj.event === 'add') {
                addProblem(contestId, obj.data.problemId);
            }
        });
    }

    function addProblem(contestId, problemId) {
        let loadIndex;
        $.ajax({
            url: baseUrl + '/api/manager/contest/pro/problem/' + contestId + '/' + problemId + '?userId=' + user.userId,
            method: 'post',
            headers: {
                token: user.token
            },
            beforeSend: () => {
                loadIndex = layer.load(1);
            },
            success: () => {
                layer.close(loadIndex);
                layer.msg('添加成功！', {icon: 6});
                refresh('problems');
                refresh('contest-problems');
            },
            error: (xhr) => {
                layer.close(loadIndex);
                layer.msg(xhr.status + ': ' + xhr.responseText, {icon: 5});
            }
        });
    }

    // 从竞赛/作业中移除题目
    function removeProblems(contestId, problemId) {
        let loadIndex;
        layer.confirm('确定要从竞赛中移除此题吗？（题目不会被删除）', {icon: 3, title: '提示'}, (index) => {
            $.ajax({
                url: baseUrl + '/api/manager/contest/pro/problem/' + contestId + '/' + problemId + '?userId=' + user.userId,
                method: 'delete',
                headers: {
                    token: user.token
                },
                beforeSend: () => {
                    loadIndex = layer.load(1);
                },
                success: () => {
                    layer.close(loadIndex);
                    layer.msg('已移除！', {icon: 6});
                    refresh('contest-problems');
                },
                error: (xhr) => {
                    layer.close(loadIndex);
                    layer.msg(xhr.status + ': ' + xhr.responseText, {icon: 5});
                }
            });
            layer.close(index);
        });
    }

    // 删除竞赛/作业
    function delContest(data) {
        let loadIndex;
        layer.confirm('确定要删除 [' + data.contestName + '] 吗？', {icon: 3, title: '提示'}, (index) => {
            $.ajax({
                url: baseUrl + '/api/manager/contest/pro/' + data.contestId + '?userId=' + user.userId,
                method: 'delete',
                headers: {
                    token: user.token
                },
                beforeSend: () => {
                    loadIndex = layer.load(1);
                },
                success: () => {
                    layer.close(loadIndex);
                    layer.msg('已删除！', {icon: 6});
                    refresh('contests');
                },
                error: (xhr) => {
                    layer.close(loadIndex);
                    layer.msg(xhr.status === 400 ? xhr.status + ': ' + '请确认竞赛中是否还存在题目！' : '请求失败！',
                        {icon: 5});
                }
            });
            layer.close(index);
        });
    }

    function refresh(tableId) {
        if (table.cache[tableId].length === 0)
            table.reload(tableId);
        else
            $(".layui-laypage-btn").click();
    }
</script>
</body>
</html>