<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>竞赛/作业管理</title>
</head>
<body>
<!-- nav -->
<div th:replace="include::top"></div>
<div class="layui-container" style="min-width: 1150px">
    <table id="contests" lay-filter="contests">

    </table>
</div>
<!-- create contest -->
<div id="contest-form" class="layui-form layui-form-pane" lay-filter="add-contest"
     style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <!-- contest name -->
    <div class="layui-form-item">
        <label for="contestName" class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input id="contestName" name="contestName" class="layui-input" lay-verify="required" placeholder="竞赛/作业名称">
        </div>
    </div>
    <!-- start at -->
    <div class="layui-form-item">
        <label for="startAt" class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <input id="startAt" type="text" name="startAt" class="layui-input" lay-verify="required"
                   placeholder="选择开始时间">
        </div>
    </div>
    <!-- end at -->
    <div class="layui-form-item">
        <label for="endAt" class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
            <input id="endAt" type="text" name="endAt" class="layui-input" lay-verify="required" placeholder="选择结束时间">
        </div>
    </div>
    <!-- 选择语言 -->
    <div class="layui-form-item">
        <label class="layui-form-label">限制语言</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="language" title="C" value="0">
            <input type="checkbox" lay-filter="language" title="C++" value="1">
            <input type="checkbox" lay-filter="language" title="Java" value="2">
            <input type="checkbox" lay-filter="language" title="Python" value="3">
            <input type="checkbox" lay-filter="language" title="Shell" value="4">
            <input type="checkbox" lay-filter="language" title="C#" value="5">
        </div>
    </div>
    <!-- button -->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit lay-filter="create" id="create" class="layui-btn layui-btn-radius layui-btn-normal"
                    style="width: 310px;">
                创 建
            </button>
        </div>
    </div>
</div>
<!-- 重新限制语言 -->
<div id="set-languages-form" class="layui-form layui-form-pane" lay-filter="set-languages"
     style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <div class="layui-form-item">
        <label class="layui-form-label">限制语言</label>
        <div class="layui-input-block" id="edit-languages">
            <input type="checkbox" lay-filter="language" name="lang[0]" title="C" value="0">
            <input type="checkbox" lay-filter="language" name="lang[1]" title="C++" value="1">
            <input type="checkbox" lay-filter="language" name="lang[2]" title="Java" value="2">
            <input type="checkbox" lay-filter="language" name="lang[3]" title="Python" value="3">
            <input type="checkbox" lay-filter="language" name="lang[4]" title="Shell" value="4">
            <input type="checkbox" lay-filter="language" name="lang[5]" title="C#" value="5">
        </div>
    </div>
    <blockquote class="layui-elem-quote">关闭窗口自动保存</blockquote>
</div>
<div th:replace="include::foot"></div>
<!-- contest problems -->
<div id="contest-problem-table"
     style="display: none;  position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <table id="contest-problems" lay-filter="contest-problems">

    </table>
</div>
<!-- problems -->
<div id="problems-table" style="display: none;  position: absolute; top: 0; bottom: 0; left: 0; right:0; padding: 15px">
    <table id="problems" lay-filter="problems">

    </table>
</div>
<script type="text/html" id="top-bar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="create-contest">创建竞赛/作业</button>
    </div>
</script>
<script type="text/html" id="contest-problem-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add-problem">添加题目</button>
    </div>
</script>
<script type="text/html" id="contestProblemToolbar">
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove">移除</a>
</script>
<script type="text/html" id="optToolbar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="set-languages">设置语言</a>
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">管理题目</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script type="text/html" id="addProblemToolbar">
    <a class="layui-btn bg-green layui-btn-sm" lay-event="add">添加</a>
</script>
<script src="./js/manager_contest.js"></script>
</body>
</html>