<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{::link}, ~{}, ~{::style})">
    <meta charset="UTF-8">
    <title th:text="'提交 ' + ${problem.getTitle()}"></title>
    <link rel="stylesheet" href="./codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="./codemirror/theme/monokai.css"/>
    <link rel="stylesheet" href="./codemirror/addon/hint/show-hint.css"/>
    <style>
        .description {
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #f0f0f0;
        }

        .sample {
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 8px;
            border-radius: 5px;
            background-color: #f2f2f2;
        }

        html, body {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<script src="./codemirror/lib/codemirror.js"></script>
<script src="./codemirror/mode/clike/clike.js"></script>
<script src="./codemirror/mode/python/python.js"></script>
<script src="./codemirror/mode/shell/shell.js"></script>
<script src="./codemirror/addon/hint/anyword-hint.js"></script>
<script src="./codemirror/addon/edit/matchbrackets.js"></script>
<script src="./codemirror/addon/edit/closebrackets.js"></script>
<script src="./codemirror/addon/mode/loadmode.js"></script>

<div th:replace="include::top"></div>
<div class="layui-container" style="margin-top: 20px">
    <div>
        <div class="layui-card">
            <div class="layui-card-header">
                <h2 id="problemId" style="display: inline-block" th:text="${problem.getProblemId()}"></h2>: <h2
                    style="display: inline-block" th:text="${problem.getTitle()}"></h2>
            </div>
            <div class="layui-card-body">
                <h3>题目描述：</h3>
                <pre class="description" th:text="${problem.getDescription()}"></pre>
                <h3>输入说明：</h3>
                <pre class="description" th:text="${problem.getInput()}"></pre>
                <h3>输出说明：</h3>
                <pre class="description" th:text="${problem.getOutput()}"></pre>
                <h3>输入示例：</h3>
                <pre class="sample"
                     th:text="${problem.getSampleInput() == null ? '无输入':problem.getSampleInput()}"></pre>
                <h3>输出示例：</h3>
                <pre class="sample" th:text="${problem.getSampleOutput()}"></pre>
            </div>
        </div>
    </div>
    <!-- 代码区域 -->
    <div style="margin-top: 10px; margin-bottom: 50px">
        <div class="layui-card">
            <div class="layui-card-header">
                <h2>你的代码:</h2>
            </div>
            <div class="layui-card-body">
                <div class="layui-form" style="width: 100%">
                    <i class="layui-icon layui-icon-fonts-code" style="display: inline-block"></i>
                    <div class="layui-form-item" style="display: inline-block">
                        <label for="lang" class="layui-form-label" style="font-size: 12pt">编程语言：</label>
                        <div class="layui-input-block">
                            <select id="lang" name="language" lay-filter="language">
                                <option value="0" selected="selected">C/C++（支持 C++ 14 标准）</option>
                                <option value="1">Java (支持 1.8 特性)</option>
                                <option value="2">Python (3.8)</option>
                                <option value="3">Bash Shell</option>
                            </select>
                        </div>
                    </div>
                    <label>
                        <!-- 代码编辑器 -->
                        <textarea id="code"></textarea>
                    </label>
                    <div class="layui-form-item" style="margin-top: 10px">
                        <button class="layui-btn layui-btn-lg layui-btn-normal" lay-submit lay-filter="commit-code">
                            提交运行
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let language = 0;
    let codeLang = ['text/x-c++src', 'text/x-java', 'text/x-python', 'text/x-sh'];

    let editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: 'text/x-c++src',
        theme: 'monokai',
        indentUnit: 4,
        lineNumbers: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        lineWrapping: true,
        showHint: true
    });

    editor.setSize('auto', '600px');

    layui.use(['form', 'element', 'layer'], function () {
        let form = layui.form;
        form.render();
        let element = layui.element;
        element.init();
        let layer = layui.layer;

        form.on('select(language)', (data) => {
            language = data.value;
            editor.setOption('mode', codeLang[language]);
        });

        // 提交代码
        form.on('submit(commit-code)', (data) => {

            if (user.token == null) {
                console.log('未登录');
                layer.open({
                    content: '你还没有登录！',
                    btn: ['去登录'],
                    yes: (index) => {
                        window.location.href = './index';
                        layer.close(index);
                    }
                });
            } else {
                let loadIndex;
                $.ajax({
                    url: 'http://localhost/api/judge/commit',
                    method: 'post',
                    timeout: 10000,
                    headers: {
                        "Content-Type": "application/json",
                        "token": user.token
                    },
                    data: JSON.stringify({
                        userId: user.userId,
                        problemId: $('#problemId').text(),
                        language: parseInt(data.field.language),
                        sourceCode: editor.getValue()
                    }),
                    beforeSend: () => {
                        loadIndex = layer.load(1);
                    },
                    success: (data) => {
                        console.log(data);
                        let result;
                        switch (data.result) {
                            case 4:
                                result = "编译错误！";
                                break;
                            case 3:
                                result = "答案错误！";
                                break;
                            case 2:
                                result = "部分通过（" + data.passRate * 100 + ")";
                                break;
                            case 1:
                                result = "时间超限（" + data.passRate * 100 + "）";
                                break;
                            case 0:
                                result = "完全正确（100）";
                                break;
                        }
                        layer.close(loadIndex);
                        layer.open({
                            content: result === undefined ? data : result
                        });
                    },
                    error: (xhr) => {
                        console.log(xhr);
                        layer.close(loadIndex);
                        layer.open({
                            content: xhr.status + ': ' + xhr.responseText
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>