<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>竞赛/作业</title>
</head>
<body>
<div th:replace="include::top"></div>
<div class="layui-container">
    <table id="contests" lay-filter="contests">

    </table>
</div>
<script type="text/html" id="contestTpl">
    <a href="./problems?contestId={{d.contestId}}" class="layui-table-link">{{d.contestName}}</a>
</script>
<script>
    let table;
    $(document).ready(() => {
        $('#nav-contests').addClass('layui-this');

        layui.use(['table', 'element'], () => {
            table = layui.table;
            let element = layui.element;
            element.init();
        });

        table.render({
            elem: '#contests',
            url: baseUrl + '/api/manager/contest',
            parseData: (res) => {
                return {
                    "code": 0,
                    "count": res === undefined ? 0 : res.count,
                    "data": res === undefined ? null : res.data
                }
            },
            skin: 'nob',
            size: 'lg',
            even: true,
            page: true,
            limit: 15,
            limits: [10, 15, 20, 25, 30],
            cols: [
                [
                    {field: 'contestId', title: '竞赛/作业编号', width: '15%', align: 'center'},
                    {field: 'contestName', title: '竞赛/作业名称', width: '35%', align: 'center', templet: '#contestTpl'},
                    {field: 'startAt', title: '开始时间', width: '25%'},
                    {field: 'endAt', title: '结束时间', width: '25%'},
                ]
            ]
        });
    });
</script>
</body>
</html>