<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title, links, styles)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="http://localhost:8080/css/layui.css">
    <script src="http://localhost:8080/jquery-3.4.1.js"></script>
    <script src="http://localhost:8080/layui.all.js"></script>
    <th:block th:replace="${styles}"/>
    <th:block th:replace="${links}"/>
    <style>
        body {
            min-width: 900px;
        }
        .menu-text {
            font-size: 12pt;
        }

        .menu-item {
            margin-left: 30px;
        }
    </style>
    <script>
        let userInfo = {
            userId: 20164225133,
            name: "Cloud",
            token: null
        };

        $(document).ready(() => {
            /*let userInfo = $.cookie('cloudOjToken');
            if (userInfo != null) {
                let user = JSON.parse(userInfo);
                console.log(user);
            }*/
            if (userInfo != null) {
                $('#user-name').text(userInfo.name);
            }
        });
    </script>
</head>
<body>
<div th:fragment="top" class="layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/index" style="color: #5FB878; font-size: 18pt">Cloud OJ</a></div>
        <ul class="layui-nav layui-layout-left">
            <li id="nav-help" class="layui-nav-item menu-item">
                <a class="menu-text" href="/index">帮 助</a>
            </li>
            <li id="nav-problems" class="layui-nav-item menu-item">
                <a class="menu-text" href="/problems">题目列表</a>
            </li>
            <li id="nav-commit" class="layui-nav-item menu-item">
                <a class="menu-text" href="#">提交列表</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item menu-item">
                <a><span id="user-name" class="menu-text">未登录</span></a>
                <dl class="layui-nav-child">
                    <dd><a href="#">基本资料</a></dd>
                    <dd><a href="#">退了</a></dd>
                </dl>
            </li>
            <li id="logout" class="layui-nav-item menu-item" style="display: none">
                <a class="menu-text">退出</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>