<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title, links, styles)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <script src="./layui/layui.all.js"></script>
    <script src="./jquery-3.4.1.js"></script>
    <script src="./jquery.cookie.js"></script>
    <script src="./jquery.md5.js"></script>
    <th:block th:replace="${styles}"/>
    <th:block th:replace="${links}"/>
    <style>
        body {
            min-width: 900px;
            height: 100%;
        }

        .menu-text {
            font-size: 12pt;
        }

        .menu-item {
            margin-left: 20px;
        }

        .header {
            height: 59px;
            border-bottom: 1px solid #404553;
            background-color: #393D49;
        }

        .logo {
            position: absolute;
            left: 0;
            top: 16px;
        }
    </style>
    <script>
        let user = {
            userId: '',
            name: '',
            section: '',
            email: '',
            roleId: null,
            token: null
        };

        $(document).ready(() => {
            let userInfo = $.cookie('cloudOjToken');
            if (userInfo !== 'null' && userInfo !== undefined) {
                user = JSON.parse(userInfo);

                if (user.token !== null) {
                    $('#user-name').text(user.name);
                    $('#info').show();
                    $('#exit').show();
                }
            }
        });

        function exit() {
            user = null;
            $.cookie('cloudOjToken', null);
            $('#user-name').text('未登录');
            $('#info').hide();
            $('#exit').hide();
        }
    </script>
</head>
<body>
<div th:fragment="top" class="layui-header header">
    <div class="layui-main">
        <div class="logo">
            <a href="./index" style="top: 16px; color: #5FB878; font-size: 18pt">Cloud OJ</a>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li id="nav-help" class="layui-nav-item menu-item">
                <a class="menu-text" href="./index">帮 助</a>
            </li>
            <li id="nav-problems" class="layui-nav-item menu-item">
                <a class="menu-text" href="./problems">题目列表</a>
            </li>
            <li id="nav-commit" class="layui-nav-item menu-item">
                <a class="menu-text" href="#">提交列表</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item menu-item">
                <a><span id="user-name" class="menu-text">未登录</span></a>
                <dl class="layui-nav-child">
                    <dd id="info" style="display: none"><a href="#">基本资料</a></dd>
                    <dd id="exit" style="display: none"><a href="javascript:exit()">退了</a></dd>
                </dl>
            </li>
            <li id="logout" class="layui-nav-item menu-item" style="display: none">
                <a class="menu-text">退出</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>