<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{::link}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div th:replace="include::top"></div>
<div class="container">
    <div id="poster-div" class="poster-div">
        <h2 id="poster"><b>TALK IS CHEAP, SHOW ME YOUR CODE!</b></h2>
        <button id="start-btn" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"
                style="margin-top: 30px; font-weight: bold; font-size: 13pt"
                onclick="startCodding()">
        </button>
    </div>

    <div id="login-pane">
        <div class="layui-collapse" lay-accordion>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">登 录</h2>
                <div class="layui-colla-content layui-show">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label for="userId" class="layui-form-label">ID</label>
                            <div class="layui-input-block">
                                <input class="layui-input" autofocus lay-filter="userId" id="userId" type="text"
                                       name="userId"
                                       lay-verify="required"
                                       placeholder="输入ID（学号）">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="password" class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input class="layui-input" lay-filter="password" id="password" type="password"
                                       name="password" autocomplete="new-password"
                                       lay-verify="required"
                                       placeholder="输入密码">
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center">
                            <button lay-submit lay-filter="login" id="login"
                                    class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"
                                    style="width: 70%; margin: 0 auto">登 录
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">注 册</h2>
                <div class="layui-colla-content">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label for="reg-userId" class="layui-form-label">ID</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-userId" name="userId" lay-verify="required"
                                       placeholder="输入ID（学号）">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-name" class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-name" name="name" lay-verify="required"
                                       placeholder="输入昵称">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-password" class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-password" type="password" name="password"
                                       lay-verify="required|pass" autocomplete="new-password"
                                       placeholder="输入密码">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-email" class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-email" type="email" name="email"
                                       lay-verify="required | email" placeholder="你的邮箱">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-school" class="layui-form-label">学校/班级</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-school" type="text" name="section"
                                       lay-verify="required" placeholder="你的学校/班级">
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center">
                            <button lay-submit lay-filter="register" class="layui-btn layui-btn-radius layui-btn-lg"
                                    style="width: 70%; margin: 0 auto;">注册
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wave-box">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</div>
<div style="height: 100px; background: white;">
</div>
<div class="foot">
    © 2020
    <p style="display: inline-block; padding: 0 5px;">Cloud Li</p>
    MIT License
    <p style="padding: 0 5px; display: inline-block">
        <a class="link" href="https://github.com/imcloudfloating/Cloud-OJ-Docker" target="_blank">GitHub</a>
    </p>
    <p style="padding: 6px 0; color: #999999">Based on</p>
    <div style="display: inline-flex; align-items: center; text-align: center;">
        <img class="framework-logo" alt="Layui" src="./img/logo/layui.png">
        <a class="framework-link" href="https://www.layui.com/" target="_blank"
           style="color: #e0e0e0"><b>Layui</b></a>
        <img class="framework-logo" style="margin-left: 12px;" alt="Spring Cloud"
             src="./img/logo/spring-cloud.png">
        <a class="framework-link" href="https://spring.io/projects/spring-cloud/" target="_blank"
           style="color: #75b240">
            <b>Spring Cloud</b>
        </a>
        <img class="framework-logo" style="margin-left: 12px;" alt="Docker"
             src="./img/logo/docker.png">
        <a class="framework-link" href="https://www.docker.com/" target="_blank"
           style="color: #4196eb">
            <b>Docker</b>
        </a>
    </div>
</div>
<script src="./js/index.js"></script>
</body>
</html>