<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{::link}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>Cloud OJ</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div th:replace="include::top"></div>
<div class="container">
    <div id="poster-div" class="poster-div">
        <h2 id="poster"><b>Think twice, code once!</b></h2>
        <button id="start-btn" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"
                style="margin-top: 30px; font-size: 13pt;"
                onclick="startCodding()">
        </button>
    </div>

    <div id="login-pane">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">登 录</li>
                <li>注 册</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" style="padding-right: 30px">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label for="userId" class="layui-form-label">ID</label>
                            <div class="layui-input-block">
                                <input class="layui-input" autofocus lay-filter="userId" id="userId" type="text"
                                       name="userId"
                                       lay-verify="required"
                                       placeholder="你的ID">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="password" class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input class="layui-input" lay-filter="password" id="password" type="password"
                                       name="password" autocomplete="new-password"
                                       lay-verify="required"
                                       placeholder="输入密码">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button lay-submit lay-filter="login" id="login"
                                        class="layui-btn layui-btn-normal" style="width: 100%">
                                    登 录
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item" style="padding-right: 30px">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label for="reg-userId" class="layui-form-label">ID</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-userId" name="userId" lay-verify="required|id"
                                       placeholder="输入ID">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-name" class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-name" name="name" lay-verify="required|name"
                                       placeholder="起个名字吧">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-password" class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-password" type="password" name="password"
                                       lay-verify="required|pass" autocomplete="new-password"
                                       placeholder="输入密码，至少6位">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-email" class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-email" type="email" name="email"
                                       lay-verify="email" placeholder="你的邮箱">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="reg-school" class="layui-form-label">学校/班级</label>
                            <div class="layui-input-block">
                                <input class="layui-input" id="reg-school" type="text" name="section"
                                       placeholder="你的学校/班级（选填）">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button lay-submit lay-filter="register"
                                        class="layui-btn bg-green"
                                        style="width: 100%">注 册
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wave-box">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</div>
<div class="foot">
    © 2020
    <p style="display: inline-block; padding: 0 5px;">Cloud Li</p>
    MIT License
    <p style="padding: 0 5px; display: inline-block">
        <a class="link" href="https://github.com/imcloudfloating/Cloud-OJ" target="_blank">GitHub</a>
    </p>
    <p style="padding: 6px 0; color: #999999">Based on</p>
    <div style="display: inline-flex; align-items: center; text-align: center;">
        <img class="framework-logo" alt="Layui" src="./img/logo/layui.png">
        <a class="framework-link" href="https://www.layui.com/" target="_blank"
           style="color: #e0e0e0"><b>Layui</b></a>
        <img class="framework-logo" style="margin-left: 12px;" alt="Spring Cloud"
             src="./img/logo/spring-cloud.png">
        <a class="framework-link" href="https://spring.io/projects/spring-cloud/" target="_blank"
           style="color: #75b240">
            <b>Spring Cloud</b>
        </a>
        <img class="framework-logo" style="margin-left: 12px;" alt="Docker"
             src="./img/logo/docker.png">
        <a class="framework-link" href="https://www.docker.com/" target="_blank"
           style="color: #4196eb">
            <b>Docker</b>
        </a>
    </div>
</div>
<script src="./js/router.js"></script>
</body>
</html>