<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题目列表</title>
    <link rel="stylesheet" href="css/layui.css">
    <style>
        .menu-text {
            font-size: 16pt;
        }

        .menu-gap {
            width: 50px;
        }
    </style>
</head>
<body>
<nav>
    <ul th:fragment="nav-index" class="layui-nav">
        <li class="layui-nav-item">
            <a href="/index" style="font-size: 20pt">Cloud OJ</a>
        </li>
        <li class="layui-nav-item menu-gap"></li>
        <li class="layui-nav-item">
            <a class="menu-text" href="/index">帮 助</a>
        </li>
        <li class="layui-nav-item menu-gap"></li>
        <li class="layui-nav-item layui-this">
            <a class="menu-text" href="/problems">题目列表</a>
        </li>
        <li class="layui-nav-item menu-gap"></li>
        <li class="layui-nav-item">
            <a class="menu-text" href="#">提交列表</a>
        </li>
    </ul>
</nav>
<div class="layui-container">
    <div class="layui-form-item" style="margin-top: 10px">
        <label for="keyword" class="layui-form-label">搜索题目:</label>
        <div class="layui-input-inline">
            <input id="keyword" class="layui-input" placeholder="输入题目名称或编号"  type="text">
        </div>
        <button class="layui-btn">搜 索</button>
    </div>
    <table class="layui-table" lay-skin="nob" lay-size="lg">
        <colgroup>
            <col width="120">
            <col width="300">
            <col width="40%">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>题目编号</th>
            <th>题目标题</th>
            <th></th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="problem: ${problemList}">
            <td th:text="${problem.getProblemId()}"></td>
            <td th:text="${problem.getTitle()}"></td>
            <th></th>
            <td th:text="${problem.getCreateAt()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>