<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>题目列表</title>
</head>
<body>
<script src="http://localhost:8080/jquery-3.4.1.js"></script>
<div th:replace="include::top"></div>
<div class="layui-container">
    <div class="layui-form-item" style="margin-top: 10px">
        <label for="keyword" class="layui-form-label">搜索题目:</label>
        <div class="layui-input-inline">
            <input id="keyword" class="layui-input" placeholder="输入题目名称或编号" type="text">
        </div>
        <button class="layui-btn">搜 索</button>
    </div>
    <!-- 题目列表 -->
    <table class="layui-table" lay-size="lg" lay-skin="nob">
        <colgroup>
            <col style="width: 15%">
            <col style="width: 45%">
            <col style="width: 20%">
            <col style="width: 20%">
        </colgroup>
        <thead>
        <tr>
            <td>题目编号</td>
            <td>题目标题</td>
            <td>分 类</td>
            <td>创建时间</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="problem: ${problemList}">
            <th th:text="${problem.getProblemId()}"></th>
            <th><a th:text="${problem.getTitle()}" th:href="@{'/commit/' + ${problem.getProblemId()}}"></a></th>
            <th><a class="layui-badge-rim layui-bg-blue" th:text="${problem.getCategory()}" href="#"></a></th>
            <th th:text="${problem.getCreateAt()}"></th>
        </tr>
        </tbody>
    </table>
</div>
<script>
    $('#nav-problems').addClass("layui-this");
</script>
</body>
</html>