<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>题目列表</title>
</head>
<body>
<div th:replace="include::top"></div>
<div class="layui-container">
    <div id="breadcrumb" style="margin-top: 15px; display: none">
        <span class="layui-breadcrumb" lay-separator="-">
            <a style="font-size: 12pt" href="./contests">竞赛/作业</a>
            <a style="font-size: 13pt;"><cite id="current" style="color: #333333"></cite></a>
        </span>
    </div>
    <!-- 题目列表 -->
    <table id="problems">

    </table>
</div>
<div th:replace="include::foot"></div>
<script type="text/html" id="titleTpl">
    {{# if (d.contestId !== undefined) { }}
    <a href="./commit?problemId={{d.problemId}}&contestId={{d.contestId}}"
       class="layui-table-link"><b>{{d.title}}</b></a>
    {{# } else { }}
    <a href="./commit?problemId={{d.problemId}}" class="layui-table-link"><b>{{d.title}}</b></a>
    {{# } }}
</script>
<script type="text/html" id="categoryTpl">
    {{# if (d.contestName === undefined && d.category != undefined) { }}
    {{# layui.each(d.category.split(','), (index, item) => { }}
    <span class="category {{getColor(item)}}" onclick="addTag(this.innerHTML)">{{ item }}</span>
    {{# }); }}
    {{# } else if (d.contestName != undefined) { }}
    <span class="category bg-blue">{{ d.contestName }}</span>
    {{# } }}
</script>
<script type="text/html" id="resultTpl">
    {{# if (d.result != undefined) { }}
    <span class="{{resultColor[d.result]}} label">{{result[d.result]}}</span>
    {{# } }}
</script>
<script type="text/html" id="top-bar">
    {{# if (getQueryVariable('contestId') == null) { }}
    <div class="layui-form-item" style="margin-bottom: 0; display: inline-block">
        <div class="layui-input-inline">
            <input id="keyword" class="layui-input" autofocus placeholder="输入题目名称" type="text" autocomplete="off"
                   onkeydown="onSearch(event)">
        </div>
        <button class="layui-btn layui-icon layui-icon-search" onclick="addSearchTag($('#keyword').val())">&nbsp;&nbsp;搜索
        </button>
    </div>
    <div id="search-tag" style="margin-left: 20px; display: inline-block;">

    </div>
    <div id="tag" style="float: right; display: inline-block;">

    </div>
    {{# } else { }}
    <label id="contest_name" class="tag bg-blue" style="font-size: 12pt; padding: 6px 10px;"></label>
    {{# } }}
</script>
<script src="./js/problems.js"></script>
</body>
</html>