<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>排行榜</title>
</head>
<body>
<div th:replace="include::top"></div>
<div class="layui-container">
    <table id="ranking" lay-filter="ranking">

    </table>
</div>
<div th:replace="include::foot"></div>
<script type="text/html" id="top-bar">
    {{# if (getQueryVariable('contestId') != null) { }}
    <label id="contest_name" class="tag bg-blue" style="font-size: 12pt; padding: 6px 10px;"></label>
    {{# } else { }}
    <label class="tag bg-blue" style="font-size: 12pt; padding: 6px 10px;">总排行榜</label>
    {{# } }}
</script>
<script src="./js/ranking.js"></script>
</body>
</html>