<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>排行榜</title>
</head>
<body>
<div th:replace="include::top"></div>
<div class="layui-container">
    <table id="ranking" lay-filter="ranking">

    </table>
</div>
<div th:replace="include::foot"></div>
<script type="text/html" id="top-bar">
    {{# if (getQueryVariable('contestId') != null) { }}
    <label id="contest_name" class="tag bg-blue" style="font-size: 12pt; padding: 6px 10px;"></label>
    {{# } else { }}
    <label class="tag bg-blue" style="font-size: 12pt; padding: 6px 10px;">总排行榜</label>
    {{# } }}
</script>
<script>
    let table;
    $(document).ready(() => {
        let apiUrl = baseUrl + '/api/manager/ranking';
        let contestId = getQueryVariable('contestId');

        if (contestId != null) {
            apiUrl += '/contest/' + contestId;
        }

        layui.use(['table', 'element'], () => {
            table = layui.table;
            let element = layui.element;
            element.init();
        });

        table.render({
            elem: '#ranking',
            url: apiUrl,
            parseData: (res) => {
                if (res !== undefined && res.count > 0 && res.data[0].contestName !== undefined)
                    $('#contest_name').text(res.data[0].contestName + '-排行榜');
                return {
                    "code": 0,
                    "count": res === undefined ? 0 : res.count,
                    "data": res === undefined ? null : res.data
                }
            },
            skin: 'nob',
            size: 'lg',
            page: true,
            limit: 15,
            limits: [10, 15, 20, 25, 30],
            toolbar: '#top-bar',
            defaultToolbar: ['print', 'exports'],
            cols: [
                [
                    {title: '排名', type: 'numbers', width: '10%'},
                    {field: 'userId', title: '用户ID', width: '15%'},
                    {field: 'name', title: '用户名', width: '15%'},
                    {field: 'committed', title: '总提交次数', width: '20%', style: 'color: #1E9FFF'},
                    {field: 'passed', title: '已通过题目', width: '20%', style: 'color: #5FB878'},
                    {field: 'totalScore', title: '总分数', width: '20%'}
                ]
            ]
        });
    });

    $('#nav-ranking').addClass('layui-this');
</script>
</body>
</html>