<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include::common_head(~{::title}, ~{}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>排行榜</title>
</head>
<body>
<div th:replace="include::top"></div>
<div class="layui-container">
    <table id="ranking" lay-filter="ranking">

    </table>
</div>
<div th:replace="include::foot"></div>
<script type="text/html" id="rankingTpl">
    {{# if (d.rank <= 3) { }}
    <img src="{{'./img/medal-no.' + d.rank + '.svg'}}" height="30px" alt="ranking">
    {{# } else { }}
    <span>{{d.rank}}</span>
    {{# } }}
</script>
<script type="text/html" id="nameTpl">
    {{# if (d.rank <= 3) { }}
    <b>{{d.name}}</b>
    {{# } else { }}
    <span>{{d.name}}</span>
    {{# } }}
</script>
<script type="text/html" id="top-bar">
    <label class="tag bg-blue" style="font-size: 12pt; padding: 6px 10px;">
        {{# if (getQueryVariable('contestId') != null) { }}
        <span id="contest_name"></span>
        {{# } else { }}
        <span>总排行榜</span>
        {{# } }}
    </label>
</script>
<script src="./js/ranking.js"></script>
</body>
</html>