:root {
  --layout-padding: 12px;
  --header-height: 57px;
  --primary-color: #18a058;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

#app {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  .header {
    z-index: 1;
  }

  .aside {
    z-index: 2;
  }

  nav[class="n-breadcrumb"] {
    line-height: normal;
  }

  td[class="n-data-table-td"] {
    vertical-align: middle;
  }

  .main {
    &.submission {
      min-height: 100%;
    }

    &.admin {
      top: var(--header-height);
    }

    .wrap {
      width: 1100px;
      padding: calc(var(--layout-padding) * 2) 0;
      margin: 0 auto;
    }

    .admin-wrap {
      width: calc(100% - var(--layout-padding) * 2);
      min-width: 600px;
      padding: var(--layout-padding);
    }

    .n-scrollbar > .n-scrollbar-container {
      display: flex;
    }

    .footer {
      margin-top: auto;
      width: 100%;
      background-color: transparent;
    }
  }

  .input-prefix-icon {
    margin-right: 4px;
  }

  .tag {
    margin: 1px 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
