:root {
  --layout-padding: 12px;
  --header-height: 55px;
  --footer-height: 55px;
  --primary-color: #18a058;
  --code-font:
    "Maple Mono NF CN", "JetBrains Mono", "Cascadia Code", "SFMono-Regular",
    Consolas, monospace;
}

#app {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  .category-tag {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.cm-editor {
  &.cm-focused {
    outline: none !important;
    box-shadow: none !important;
  }

  .cm-gutters {
    font-family: var(--code-font);
    border: none !important;
  }

  .cm-content {
    font-family: var(--code-font);
  }
}
