:root {
  --layout-padding: 12px;
  --header-height: 57px;
  --footer-height: 55px;
  --primary-color: #18a058;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

html {
  body {
    overflow: hidden;
  }
}

#app {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  .header {
    z-index: 1;
  }

  .aside {
    z-index: 2;
  }

  nav[class="n-breadcrumb"] {
    line-height: normal;
  }

  td[class="n-data-table-td"] {
    vertical-align: middle;
  }

  .main {
    &.admin {
      top: var(--header-height);
    }

    .wrap {
      width: calc(100% - var(--layout-padding) * 4);
      max-width: 1200px;
      padding: calc(var(--layout-padding) * 2) 0;
    }

    .admin-wrap {
      width: calc(100% - var(--layout-padding) * 2);
      padding: var(--layout-padding);
    }
  }

  .n-scrollbar.global {
    > .n-scrollbar-container {
      > .n-scrollbar-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - var(--header-height));
      }
    }
  }

  .input-prefix-icon {
    margin-right: 4px;
  }

  .tag {
    margin: 1px 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.cm-s-ttcn {
  border: 1px solid #ededef;

  .CodeMirror-gutters {
    border-right: 1px solid #ededef;
  }
}

.cm-s-material-darker {
  border-top: 1px solid #161b22;
  border-right: 1px solid #161b22;
  border-bottom: 1px solid #161b22;

  .CodeMirror-scroll {
    background-color: #0d1117;
  }

  .CodeMirror-gutter {
    background-color: #161b22;
  }

  .CodeMirror-linenumber {
    background-color: #161b22;
  }
}

.layout-max-height {
  height: calc(100% - var(--layout-padding));
}